<html>
    <head>
        <meta charset="utf-8">
        <title>management nom:{{ nom }}, id: {{ id }}</title>
        
         {%block javascript%}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
       
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        {%endblock%}
        {%block stylesheets%}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
       
        {%endblock%}
    </head>
    
    
    <body>
        <section class="container">
        <h1>cagnotte </h1>
        
            
                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">supprimer la cagnotte</button>
                <!-- fenêtre modal -->
                <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Suppression de votre annonce</h4>
                        </div>
                        <div class="modal-body">
                            <p>Attention cette acte est irréversible, êtes vous sur ? </p>
                            <a href="../suppression/cagnotte/{{ somme.id }}/{{ somme.nom }}" class="btn btn-danger">suppression</a>
                        </div>
                        
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button> 
                        </div>
                    </div>
                </div>
                </div>
                <!-- fin fenêtre modal -->
                <div class="media">
                    <div class="media-left">
                        <img src="{{ asset(somme.image.webPath) }}" alt="{{ somme.image.alt }}" class="media-object" style="width:200px;"></img>
                    </div>
                    <div class="media-body">
                         <table class="table">
              <thead>
                  <tr>
                      <th>identifiant</th>
                      <th>nom</th>
                      <th>don à collecté</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>{{ somme.id }}</td>
                      <td>{{ somme.nom }}</td>
                      <td>{{ somme.sommetotal }}</td>
                  </tr>
              </tbody>
          </table>
                    </div>
                </div>
       
        
        
        
        <h1>modification</h1>
        
        
        
        {{ form(form) }}
        </section>
    </body>
</html>